.contentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: calc(100vw - 30vh);
  height: 75vh;
}

.headerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: calc(70vw - 20vh);

  font-family: header;
  opacity: 90%;
}

.outline:hover {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}